body {
    background-color: var(--background-color);
    background-image: url('../images/bg-desktop.svg');
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    width: 1440px;
}

.home{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 53px 70px;
}

.header{
    margin-bottom: 82px;
}

.header .header-logo img{
    width: 215px;
}

.section .section-container{
    display: flex;
    margin-left: 3px;
}

.section .section-container .texto{
    margin-top: 43px;
    margin-left: 52px;
    margin-right: 30px; /*!!*/
}

.section .section-container .texto h2{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 23px;
    
}

.section .section-container .texto p{
  font-size: 17.8px;
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;
}

.section .section-container .texto .button{
    background-color: #ffffff;
    color: var(--background-color);
    border-radius: 40px;
    width: 200px;
    height: 55px;
    margin-top: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    box-shadow:  5px 5px 10px 2px rgba(0,0,0,.4);
}

.section .section-container .texto .button:hover{
    background-color: var(--button);
    color: #ffffff;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

.footer .social{
    font-size: 18px;
}


.footer .social .fa-border{
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1.5px solid;
    border-radius: 50%;
    margin: 10px;
    height: 40px;
    width: 40px;
    padding-top: 10px;
}

.footer .social .button:hover{
color: var(--button);
}